<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  
  <body>
    <div class="">
    <form action="/submit" method="post">
      <p>Enter YouTube video:</p>
      <p><input required type="text" name="url" /></p>
      <p>Choose translation (es, de, fr, vi, sv):</p>
      <p><input required type="text" name="target_lan" /></p>
      <p>Enter OpenAI API key:</p>
      <p><input type="text" name="openai_apikey" /></p>
      <p>Translation model (gpt, mtm):</p>
      <p><input type="text" name="translation_model" /></p>
      <p>Initial Prompt for "Todays is a beautiful day":</p>
      <p><input type="text" name="initial_prompt" /></p>
      <p id="test"><input type="submit" value="submit" /></p>
      <p id="waiting" style="display: none;">Please wait...</p>
      <br />
      <script>
        var x;
        x = document.getElementById("test");
        y = document.getElementById("waiting");
        function display() {
          y.style.display = "block";
        }
        x.onclick = display;
      </script>
      <h3>A list of videos that have transcipt ready</h3>
      <p style="white-space: pre-wrap;">{{ video_list }}</p>
    </form>
  </div>
  </body>
</html>