<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  
  <body>
    <div class="box">
    <form action="/submit" method="post">
	    <div class="input-container">
        <p>Enter YouTube video:</p>
        <p><input type="text" name="url" /></p>
        <p>Enter source language {en, de}:</p>
        <p><input type="text" name="src_lan" /></p>
        <p>Enter target language {en, de}:</p>
        <p><input type="text" name="target_lan" /></p>
        <p>Enter OpenAI API key:</p>
        <p><input type="text" name="openai_apikey" /></p>
        <p>Translation model {gpt, mtm}:</p>
        <p><input type="text" name="translation_model" /></p>
        <p id="button"><input type="submit" value="submit" /></p>
        <!-- <p>click</p> -->
        <p id="waiting" style="display: none;">Please wait...</p>
        <br />
        <script>
          var x;
          x = document.getElementById("button");
          y = document.getElementById("waiting");
          function display() {
            y.style.display = "block";
          }
          x.onclick = display;
        </script>
        <h3>A list of videos that have transcipt ready</h3>
        <p style="white-space: pre-wrap;">{{ video_list }}</p>
      </div>
    </form>
  </div>
  </body>
</html>